# Ignore vscode settings
.vscode/settings.json

# Ignore Gradle files
.gradle/
gradle/

# Ignore Gradle wrapper files
gradlew
gradlew.bat

# Ignore other Gradle-related files
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.9/
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe

# Ignore etc
.DS_store